<!DOCTYPE html>
<html lang="en">
    <head>
        <!--=== METATAGS ========================================================================-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--=== BOOTSTRAP CSS LINK ==============================================================-->
        <link href="{{ url_for('static',filename='external_packages/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">

        <!--=== SEMANTIC CSS LINK ===============================================================-->
        <link href="{{ url_for('static',filename='external_packages/semantic/dist/semantic.min.css') }}" type="text/css" rel="stylesheet" />

        <!--=== BSD CSS LINK ====================================================================-->
        <link type=text/css href="{{ url_for('static',filename='css/layout.css') }}" type="text/css" rel="stylesheet">
        <link type=text/css href="{{ url_for('static',filename='css/fonts/sf_fonts.css') }}" type="text/css" rel="stylesheet">
        <link type=text/css href="{{ url_for('static',filename='css/fonts/rm_fonts.css') }}" type="text/css" rel="stylesheet">
        <link type=text/css href="{{ url_for('static',filename='css/fonts/tt_fonts.css') }}" type="text/css" rel="stylesheet">



        <!--=== BSD ROOT PATHS ==================================================================-->
        <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $FILE_ROOT = "{{ url_for('static',filename='') }}";
        $PROJECTS_ROOT = "{{ url_for('static',filename='projects/') }}";
        </script>

        <title> Beamer Slide Designer </title>
        <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}">


    </head>

    <body data-spy="scroll" data-target="#thumbnails" data-offset="185">

        <div id="set_project" class="ui modal basic">
            <!-- <i class="close icon"></i> -->

            <div class="title">
                <span id="open_playground_button" class="title-text clickable">
                    <!-- <span class="glyphicon glyphicon-hand-right left"></span> -->
                    Open playground
                    <span class="glyphicon glyphicon-hand-left right"></span>
                </span>
            </div>
            <hr>
             <div class="title">
                <div class="title-text">Open/Create Project</div>
            </div>
            <div class="field">
                <div class="field-label">
                    <span class="glyphicon glyphicon glyphicon-user left"></span>
                    Username
                </div>
                <input id="username" type="text" placeholder="default"/>
            </div>
            <div class="field">
                <span class="field-label">
                    <span class="glyphicon glyphicon glyphicon-folder-open left"></span>
                    Project
                </span>
                <input id="project_name" type="text" placeholder="default"/>
            </div>

            <div class="actions">
                <div class="ui approve inverted button">Let's go</div>
            </div>
            <hr>
            <div class="fine-print">
                    please use alphanumeric characters only<br><br>
                    spaces will be removed
            </div>
        </div>

        <div id="loader" class="ui modal basic">
            <div id="load"class="ui massive text loader">Packaging Files</div>
        </div>


        <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu_navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="#">Beamer Slide Designer</span>
            </div>
            <div id="menu_navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <span id="project_label" class="project_menu">Project ID:</span>
                        <span id="project_id" class="project_menu"></span>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span id="load_existing" class="menu_button">
                            <span class="glyphicon glyphicon-folder-open"role="button"></span>
                            <br>
                            Load
                        </span>
                    </li>
                    <li>
                        <input id="load_existing_id" type="text" placeholder="<username>_<project name>"/>
                    </li>
                    <li>
                        <span id="save" class="menu_button">
                            <span class="glyphicon glyphicon-floppy-disk" role="button"></span>
                            <br>
                            Save
                        </span>
                    </li>
                    <li>
                        <a id="download" href="" download="">
                            <span class="last glyphicon glyphicon-download-alt"></span>
                            <br>
                            Download
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="color_line"></div>

        <nav id="toolbar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toolbar_navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="toolbar_navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="navbar-left"><input id="zoom" type="range" min="0.5" max="1" step=0.001 value="1"></li>

                      <li class = "toolbar-button">
                          <a>
                              <div class="ui icon inline top right pointing dropdown button">
                                  <span id="presentation_settings_button" class="glyphicon glyphicon-cog"></span>
                                  <div class="menu">
                                      <div class="header">Presentation Settings</div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">basefontsize</span>
                                          <div class="menu">
                                              <div class="item basefontsize-option" data-value="8">8pt</div>
                                              <div class="item basefontsize-option" data-value="9">9pt</div>
                                              <div class="item basefontsize-option" data-value="10">10pt </div>
                                              <div class="item basefontsize-option" data-value="11">11pt (default)</div>
                                              <div class="item basefontsize-option" data-value="12">12pt</div>
                                              <div class="item basefontsize-option" data-value="14">14pt</div>
                                              <div class="item basefontsize-option" data-value="17">17pt</div>
                                              <div class="item basefontsize-option" data-value="20">20pt</div>
                                          </div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">aspectratio</span>
                                          <div class="menu">
                                            <div class="item aspectratio-option" data-value="1610">1610</div>
                                            <div class="item aspectratio-option" data-value="169">169</div>
                                            <div class="item aspectratio-option" data-value="149">149</div>
                                            <div class="item aspectratio-option" data-value="54">54</div>
                                            <div class="item aspectratio-option" data-value="43">43 (default)</div>
                                            <div class="item aspectratio-option" data-value="32">32 </div>
                                            <div class="item aspectratio-option" data-value="141">141</div>
                                          </div>
                                      </div>
                                      <!-- <div class="item">
                                          <span class="text">text margin left</span>
                                          <input id="text_margin_left_selection" type="range" min=0 max=30 step=1 value=10>
                                      </div>
                                      <div class="item">
                                          <span class="text">text margin right</span>
                                          <input id="text_margin_right_selection" type="range" min="0" max="30" step="1" value="10">
                                      </div> -->
                                  </div>
                              </div>
                              <br>
                              <span class="text">Settings</span>
                          </a>
                      </li>
                      <li class = "toolbar-button">
                          <!-- <a href="#"> -->
                          <a>
                              <div class="ui icon inline top right pointing dropdown button">
                                  <span id="presentation_color_button" class="glyphicon glyphicon-text-background"></span>
                                  <div class="menu">
                                      <div class="header">Presentation Colours</div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span id="structure_text" class="text">structure</span>
                                          <span class="glyphicon glyphicon-stop color-drop structure-color"></span>

                                          <div class="menu">
                                              <div class="item">
                                                  <button id="structure_color_fg" class="jscolor {onFineChange:'updateStructureFg(this)', valueElement:'structure_color_fg_value', width:225, height:125, position:'right'} jscolorpicker btn btn-default "></button>
                                                  <input id="structure_color_fg_value" class="hidden" value=""/>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">palette</span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-quaternary-color"></span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-tertiary-color"></span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-secondary-color"></span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-primary-color"></span>
                                          <div class="menu">
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_primary_text" class="text">primary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-primary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_primary_color_fg" class="jscolor {onFineChange:'updatePalettePrimaryFg(this)', valueElement:'palette_primary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default "></button>
                                                          <input id="palette_primary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_secondary_text" class="text">secondary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-secondary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_secondary_color_fg" class="jscolor {onFineChange:'updatePaletteSecondaryFg(this)', valueElement:'palette_secondary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default "></button>
                                                          <input id="palette_secondary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_tertiary_text"class="text">tertiary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-tertiary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_tertiary_color_fg" class="jscolor {onFineChange:'updatePaletteTertiaryFg(this)', valueElement:'palette_tertiary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default "></button>
                                                          <input id="palette_tertiary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_quaternary_text"class="text">quaternary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-quaternary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_quaternary_color_fg" class="jscolor {onFineChange:'updatePaletteQuaternaryFg(this)', valueElement:'palette_quaternary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default ">
                                                          </button>
                                                          <input id="palette_quaternary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">palette sidebar</span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-sidebar-quaternary-color"></span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-sidebar-tertiary-color"></span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-sidebar-secondary-color"></span>
                                          <span class="glyphicon glyphicon-stop color-drop palette-sidebar-primary-color"></span>
                                          <div class="menu">
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_primary_text" class="text">primary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-sidebar-primary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_sidebar_primary_color_fg" class="jscolor {onFineChange:'updatePaletteSidebarPrimaryFg(this)', valueElement:'palette_sidebar_primary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default "></button>
                                                          <input id="palette_sidebar_primary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_sidebar_secondary_text" class="text">secondary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-sidebar-secondary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_sidebar_secondary_color_fg" class="jscolor {onFineChange:'updatePaletteSidebarSecondaryFg(this)', valueElement:'palette_sidebar_secondary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default "></button>
                                                          <input id="palette_sidebar_secondary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_sidebar_tertiary_text"class="text">tertiary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-sidebar-tertiary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_sidebar_tertiary_color_fg" class="jscolor {onFineChange:'updatePaletteSidebarTertiaryFg(this)', valueElement:'palette_sidebar_tertiary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default "></button>
                                                          <input id="palette_sidebar_tertiary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="item">
                                                  <i class="dropdown icon"></i>
                                                  <span id="palette_sidebar_quaternary_text"class="text">quaternary</span>
                                                  <span class="glyphicon glyphicon-stop color-drop palette-sidebar-quaternary-color"></span>

                                                  <div class="menu">
                                                      <div class="item">
                                                          <button id="palette_sidebar_quaternary_color_fg" class="jscolor {onFineChange:'updatePaletteSidebarQuaternaryFg(this)', valueElement:'palette_sidebar_quaternary_color_fg_value', width:225, height:125, position:'top'} jscolorpicker btn btn-default ">
                                                          </button>
                                                          <input id="palette_sidebar_quaternary_color_fg_value" class="hidden" value=""/>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <br>
                              <span class="text">Colour</span>
                          </a>
                      </li>
                      <li class = "toolbar-button">
                          <!-- <a href="#"> -->
                              <a>
                              <div class="ui icon inline top left pointing dropdown button">
                                  <span id="presentation_font_button" class="glyphicon glyphicon-text-size"></span>
                                  <div class="menu">
                                      <div class="header">Presentation Fonts</div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">familydefault</span>
                                          <div id="familydefault_selection" class="menu">
                                              <div id="sffamily_selection" class="item" data-value="sffamily">
                                                  sffamily
                                              </div>
                                              <div id="rmfamily_selection" class="item" data-value="rmfamily">
                                                  rmfamily
                                              </div>
                                              <div id="ttfamily_selection" class="item" data-value='ttfamily'>
                                                  ttfamily
                                              </div>
                                          </div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">sffamily</span>
                                          <div id="sffamily_menu" class="menu"></div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">rmfamily</span>
                                          <div id="rmfamily_menu" class="menu"></div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">ttfamily</span>
                                          <div id="ttfamily_menu"class="menu"></div>
                                      </div>
                                      <div class="item">
                                          <i class="dropdown icon"></i>
                                          <span class="text">mathfamilydefault</span>
                                          <div id="mathfamilydefault_selection" class="menu">
                                              <div id="math_sffamily_selection" class="item" data-value="sffamily">
                                                  sffamily
                                              </div>
                                              <div id="math_rmfamily_selection" class="item" data-value="rmfamily">
                                                  rmfamily
                                              </div>
                                              <div id="math_ttfamily_selection" class="item" data-value='ttfamily'>
                                                  ttfamily
                                              </div>
                                          </div>
                                      </div>

                                      <!-- <div class="ui search selection dropdown">
                                          <input name="states" type="">
                                          <i class="dropdown icon"></i>
                                          <div class="">Alabama</div>
                                          <div class="menu">
                                              <div class="divider"></div>
                                              <div class="item active selected" data-value="AL">Alabama</div>
                                              <div class="item" data-value="AK">Alaska</div>
                                              <div class="item" data-value="AZ">Arizona</div>
                                          </div>
                                      </div> -->
                                  </div>
                              </div>
                              <br>
                              <span class="text">Font</span>
                          </a>
                      </li>
                      <li class = "toolbar-button">
                          <!-- <a href="#"> -->
                              <a>
                              <div class="ui icon inline top left pointing dropdown button">
                                  <span id="presentation_graphics_button" class="glyphicon glyphicon-picture"></span>
                                  <div class="menu">
                                      <div class="header">Presentation graphics</div>
                                      <div class="item">
                                          <!-- <i class="dropdown icon"></i> -->
                                          <span class="text">titlepagecanvasgraphic</span>
                                          <!-- <div class="menu">
                                              <div class="item">
                                                  <form action="" method=post enctype=multipart/form-data>
                                                      <input type=file name="titlepagecanvasgraphic">
                                                      <br>
                                                      <input id="titlepagecanvasgraphic_form" type=submit value="upload">
                                                  </form>
                                              </div>
                                          </div> -->
                                      </div>

                                      <div class="item">Add titlepage graphic</div>
                                      <div class="item">Add toc canvas graphic</div>
                                      <div class="item">Add toc graphic</div>
                                      <div class="item">Add canvas graphic</div>
                                      <div class="item">Add graphic</div>
                                  </div>
                              </div>
                              <br>
                              <span class="text">Graphics</span>
                          </a>
                      </li>

                    </ul>
                </div>
        </nav>

        <div class="page">
            <div id="one" class="box">
                <nav id="thumbnails">
                    <ul id="thumbs" class="nav nav-pills nav-stacked">
                    </ul>
                </nav>
            </div>


            <div id="slides">
            </div>

            <div class="box" id="two">
                <div id="toolbox_col">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a data-toggle="tab" href="#color_tools">Colour</a></li>
                        <li><a data-toggle="tab" href="#font_tools">Font</a></li>
                        <li><a data-toggle="tab" href="#appearance_tools">Appearance</a></li>
                    </ul>

                    <div id="toolbox" class="tab-content">
                        <div id="color_tools" class="tab-pane fade in active">
                        <!-- ************************************************************************************************************************ -->
                        <div class="spacer"></div>
                        <!-- <h5 class="list-group-item-heading">Fill</h5> -->
                        <div>
                            <span class="salt" color-tool-num="0" role="button">
                                <span class="tool-icon glyphicon glyphicon-triangle-right"></span>
                                <span class="tool-label toolbox-heading">Foreground Fill</span>
                            </span>
                        </div>

                        <div class="pepper hidden" color-tool-num="0">
                            <div class="spacer"></div>
                            <div class="ui selection dropdown">
                                <input name="" type="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Fill Options</div>
                                <div class="menu">
                                    <div class="item" data-value="colour"> Colour Fill</div>
                                    <!-- <div class="item" data-value="inherit">Inherit Fill</div> -->
                                    <hr>
                                    <div class="item default-color-fill" target="fg" data-value="default">Default Fill</div>

                                    <!-- TODO: Implement Gradient and Image Fill options -->
                                    <!--
                                        <div class="item" data-value="gradient">Gradient Fill</div>
                                        <div class="item" data-value="image">Image Fill</div>
                                        <div class="item" data-value="advanced-gradient">Advanced Gradient Fill/div>
                                        <div class="item" data-value="advanced-image">Advanced Image Fill</div>
                                    -->
                                </div>
                            </div>
                        </div>



                        <div class="cumin hidden" color-tool-num="0" cumin-reference="colour">
                            <div class="spacer"></div>
                            <button id="toolbox_color_fg" class="jscolor {onFineChange:'updateFg(this)', valueElement:'toolbox_color_fg_value', width:225, height:125} jscolorpicker btn btn-default "></button>
                            <input id="toolbox_color_fg_value" class="hidden" value=""/>
                            <!-- <input type="range" min="0" max="1" step=0.01> -->
                            <h5 id="foreground_color_message" class= "btn-xs btn-primary hidden" style="text-align: center; margin-top:1em;">
                                This setting is currently ignored by beamer!
                            </h5>
                        </div>

                        <div class="cumin hidden" color-tool-num="0" cumin-reference="inherit">
                            <div class="spacer"></div>
                            <h5 class= "btn-xs btn-warning" style="text-align: center; margin-top:0;">COMING SOON</h5>

                            <!--
                            <div class="ui search selection dropdown">
                                <input name="states" type="">
                                <i class="dropdown icon"></i>
                                <div class="">Alabama</div>
                                <div class="menu">
                                    <div class="divider"></div>
                                    <div class="item active selected" data-value="AL">Alabama</div>
                                    <div class="item" data-value="AK">Alaska</div>
                                    <div class="item" data-value="AZ">Arizona</div>
                                </div>
                            </div>
                            -->
                        </div>

                        <div class="cumin hidden" color-tool-num="0" cumin-reference="default">
                            <div class="spacer"></div>
                            <h5 class= "btn-xs btn-danger" style="text-align: center; margin-top:0;">COMING SOON </h5>
                        </div>

                        <hr>

                        <div>
                            <span class="salt" color-tool-num="1" role="button">
                                <span class="tool-icon glyphicon glyphicon-triangle-right"></span>
                                <span class="tool-label toolbox-heading">Background Fill</span>
                            <!-- <span>
                                <button id="block_title_bg" class="jscolor jscolorpicker  btn btn-default "></button>
                            </span> -->
                        </div>

                        <div class="pepper hidden" color-tool-num="1">
                            <div class="spacer"></div>
                            <div class="ui selection dropdown">
                                <input name="" type="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Fill Options</div>
                                <div class="menu">
                                    <div class="item" data-value="colour"> Colour Fill</div>
                                    <hr>
                                    <div class="item default-color-fill" target="bg" data-value="default">Default Fill</div>
                                <!-- <div class="item" data-value="default">Default Fill</div> -->
                            <!--        <div class="item" data-value="inherit">Inherit Fill</div>
                                        <div class="item" data-value="gradient">Gradient Fill</div>
                                        <div class="item" data-value="image">Image Fill</div>
                                        <div class="item" data-value="advanced-gradient">Advanced Gradient Fill/div>
                                        <div class="item" data-value="advanced-image">Advanced Image Fill</div>
                                    -->
                                </div>
                            </div>
                        </div>



                        <div class="cumin hidden" color-tool-num="1" cumin-reference="colour">
                            <div class="spacer"></div>
                            <button id="toolbox_color_bg" class="jscolor {onFineChange:'updateBg(this)', valueElement:'toolbox_color_bg_value', width:225, height:125} jscolorpicker btn btn-default ">
                            </button>
                            <h5 id="background_color_message" class= "btn-xs btn-primary hidden" style="text-align: center; margin-top:1em;">
                                This setting is currently ignored by beamer!
                            </h5>

                            <input id="toolbox_color_bg_value" class="hidden" value=""/>
                        </div>

                        <div class="cumin hidden" color-tool-num="1" cumin-reference="inherit">
                            <div class="spacer"></div>
                            <h5 class= "btn-xs btn-warning" style="text-align: center; margin-top:0;">COMING SOON </h5>
                        </div>

                        <div class="cumin hidden" color-tool-num="1" cumin-reference="default">
                            <div class="spacer"></div>
                            <h5 class= "btn-xs btn-warning" style="text-align: center; margin-top:0;">COMING SOON </h5>
                        </div>

<!-- ***************************************************************************************************************************************** -->

                        </div>
                        <div id="font_tools" class="tab-pane fade">
                            <div class="spacer"></div>
                            <div class="toolbox-heading">Size</div>
                            <div class="spacer"></div>
                            <div id="font_size_selection" class="ui selection dropdown">
                                <input name="" type="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select an option</div>
                                <div class="menu">
                                    <div class="item" data-value="tiny">tiny</div>
                                    <div class="item" data-value="scriptsize">scriptsize</div>
                                    <div class="item" data-value="footnotesize">footnotesize</div>
                                    <div class="item" data-value="small">small</div>
                                    <div class="item" data-value="normalsize">normalsize</div>
                                    <div class="item" data-value="large">large</div>
                                    <div class="item" data-value="Large">Large</div>
                                    <div class="item" data-value="LARGE">LARGE</div>
                                    <div class="item" data-value="huge">huge</div>
                                    <div class="item" data-value="Huge">Huge</div>
                                    <hr>
                                    <div class="item" data-value="default">default</div>
                                </div>
                            </div>

                            <hr>

                            <div class="toolbox-heading">Series</div>
                            <div class="spacer"></div>
                            <div id="font_series_selection" class="ui selection dropdown">
                                <input name="" type="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select an option</div>
                                <div class="menu">
                                    <div class="item" data-value="bfseries">bfseries</div>
                                    <div class="item" data-value="mdseries">mdseries</div>
                                    <hr>
                                    <div class="item" data-value="default">default</div>
                                </div>
                            </div>

                            <hr>

                            <div class="toolbox-heading">Shape</div>
                            <div class="spacer"></div>
                            <div id="font_shape_selection" class="ui selection dropdown">
                                <input name="" type="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select an option</div>
                                <div class="menu">
                                    <div class="item" data-value="itshape">itshape</div>
                                    <div class="item" data-value="slshape">slshape</div>
                                    <div class="item" data-value="scshape">scshape</div>
                                    <hr>
                                    <div class="item" data-value="default">default</div>

                                </div>
                            </div>

                            <hr>

                            <div class="toolbox-heading">Family</div>
                            <div class="spacer"></div>
                            <div id="font_family_selection" class="ui selection dropdown">
                                <input name="" type="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select an option</div>
                                <div class="menu">
                                    <div class="item" data-value="sffamily">sffamily</div>
                                    <div class="item" data-value="rmfamily">rmfamily</div>
                                    <div class="item" data-value="ttfamily">ttfamily</div>
                                    <hr>
                                    <div class="item" data-value="default">default</div>
                                </div>
                            </div>
                            <h5 id="structure_font_message" class= "btn-xs btn-primary hidden" style="text-align: center; margin-top:1em;">
                                These settings are currently ignored by beamer!
                            </h5>
                        </div>
                        <div id="appearance_tools" class="tab-pane fade">
                            <!-- <div id="alignment_appearance_tool" class="hidden"> -->
                                <div class="spacer"></div>
                                <div class="toolbox-heading">Alignment</div>
                                <div class="spacer"></div>
                                <div id="alignment_selection" class="ui selection dropdown">
                                    <input name="" type="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select an option</div>
                                    <div class="menu">
                                        <div class="item" data-value="left">left</div>
                                        <div class="item" data-value="center">center</div>
                                        <div class="item" data-value="right">right</div>
                                        <hr>
                                        <div class="item" data-value="default">default</div>

                                    </div>
                                </div>
                                <h5 id="alignment_appearance_message" class= "btn-xs btn-primary hidden" style="text-align: center; margin-top:1em;">
                                    This setting is currently ignored by beamer!
                                </h5>
                            <!-- </div> -->
                            <!-- <div id="rounded_shadow_appearance_tools" class="hidden"> -->
                                <hr>
                                <div class="spacer"></div>
                                <div class="toolbox-heading">Rounded</div>
                                <div class="spacer"></div>
                                <div id="rounded_selection" class="ui selection dropdown">
                                    <input name="" type="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select an option</div>
                                    <div class="menu">
                                        <div class="item" data-value="true">true</div>
                                        <div class="item" data-value="false">false</div>
                                        <hr>
                                        <div class="item" data-value="default">default</div>
                                    </div>
                                </div>
                                <div id="rounded_appearance_message1">
                                    <div class= "btn-xs btn-primary" style="text-align: center; margin-top:1em;">
                                        This visual feature is under construction!<br>
                                        The selected option will be reflected in the produced theme.
                                    </div>
                                </div>
                                <h5 id="rounded_appearance_message2" class= "btn-xs btn-primary hidden" style="text-align: center; margin-top:1em;">
                                    This setting is currently ignored by beamer!
                                </h5>
                                <hr>
                                <div class="spacer"></div>
                                <div class="toolbox-heading">Shadow</div>
                                <div class="spacer"></div>
                                <div id="shadow_selection" class="ui selection dropdown">
                                    <input name="" type="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select an option</div>
                                    <div class="menu">
                                        <div class="item" data-value="true">true</div>
                                        <div class="item" data-value="false">false</div>
                                        <hr>
                                        <div class="item" data-value="default">default</div>

                                    </div>
                                </div>
                                <div id="shadow_appearance_message1" class= "btn-xs btn-primary" style="text-align: center; margin-top:1em;">
                                    This option only has an effect if used together with the rounded option and if the background color of the template is set.
                                </div>
                                <h5 id="shadow_appearance_message2" class= "btn-xs btn-primary hidden" style="text-align: center; margin-top:1em;">
                                    This setting is currently ignored by beamer!
                                </h5>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=== JQUERY JS SCRIPT ================================================================-->
        <script src="{{ url_for('static', filename='external_packages/jquery/jquery-3.1.1.min.js') }}" type="text/javascript" crossorigin="anonymous"></script>

        <!--=== BOOTSTRAP JS SCRIPT =============================================================-->
        <script src="{{ url_for('static', filename='external_packages/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>

        <!--=== SEMANTIC JS SCRIPT ==============================================================-->
        <script src="{{ url_for('static',filename='external_packages/semantic/dist/semantic.js') }}" type="text/javascript"></script>

        <!--=== FABRICJS JS SCRIPT ==============================================================-->
        <!-- <script src="{{ url_for('static', filename='external_packages/fabricjs172/fabric.js') }}" type="text/javascript"></script> -->
        <!-- <script src="{{ url_for('static', filename='external_packages/fabricjs172/fabric.require.js') }}" type="text/javascript"></script> -->
        <script src="{{ url_for('static', filename='external_packages/fabricjs/fabric.all.min.js') }}" type="text/javascript"></script>



        <!--=== JSCOLOR JS SCRIPT ===============================================================-->
        <script src="{{ url_for('static',filename='external_packages/jscolor/jscolor.js') }}" type="text/javascript"></script>

        <!--=== BSD JS SCRIPTS ==================================================================-->
        <script src="{{ url_for('static',filename='js/default_settings/default_config.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/default_settings/default_colortheme.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/default_settings/default_fonttheme.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/default_settings/default_innertheme.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/default_settings/default_outertheme.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static',filename='js/global_functions/conversion_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/global_functions/color_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/global_functions/font_functions.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static',filename='js/interfaces/interface_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/interfaces/project_identification_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/interfaces/menu_bar_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/interfaces/toolbar_functions.js') }}" type="text/javascript"></script>
        <!-- <script src="{{ url_for('static',filename='js/interfaces/toolbox_functions.js') }}" type="text/javascript"></script> -->




        <script src="{{ url_for('static',filename='js/presentation/config.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/presentation/template_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/presentation/slide_functions.js') }}" type="text/javascript"></script>


        <script src="{{ url_for('static',filename='js/presentation/outertemplates.js') }}" type="text/javascript"></script>
        <!-- <script src="{{ url_for('static',filename='js/presentation/innertemplates.js') }}" type="text/javascript"></script> -->

        <script src="{{ url_for('static',filename='js/presentation/slides/titlepage.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/presentation/slides/toc.js') }}" type="text/javascript"></script>
        <!-- <script src="{{ url_for('static',filename='js/presentation/slides/sectionpage.js') }}" type="text/javascript"></script> -->
        <script src="{{ url_for('static',filename='js/presentation/slides/typesoftext.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/presentation/slides/typesofblocks.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static',filename='js/interfaces_load_last/toolbar_load_last_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/interfaces_load_last/navigation_functions.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='js/interfaces_load_last/toolbox_functions.js') }}" type="text/javascript"></script>










    </body>
</html>
