/*
 * ================================================================================================
 *     RM FONTS (Roman)
 * ================================================================================================
*/


/*
 * ------------------------------------------------------------------------------------------------
 *      Computer Modern (Default roman font)
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base/mdseries ------------------------------------------------------------------ */
@font-face {
    font-family: 'computer-modern-rm';
    src: url('rm/computer-modern/computer-modern-rm.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-bfseries';
    src: url('rm/computer-modern/computer-modern-rm-bold.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-itshape';
    src: url('rm/computer-modern/computer-modern-rm-italic.otf');
}
/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-slshape';
    src: url('rm/computer-modern/computer-modern-rm-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-scshape';
    src: url('rm/computer-modern/computer-modern-rm-smallcaps.otf');
}
/* ==== Series and shape ======================================================================= */

/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-bfseries-itshape';
    src: url('rm/computer-modern/computer-modern-rm-bold-italic.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-bfseries-slshape';
    src: url('rm/computer-modern/computer-modern-rm-bold-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-rm-bfseries-scshape';
    src: url('rm/computer-modern/computer-modern-rm-bold-smallcaps.otf');
}

/*
 * ------------------------------------------------------------------------------------------------
 *      Accanthis
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base/mdseries ------------------------------------------------------------------ */
@font-face {
    font-family: 'accanthis-rm';
    src: url('rm/accanthis/accanthis-rm.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-bfseries';
    src: url('rm/accanthis/accanthis-rm-bold.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-itshape';
    src: url('rm/accanthis/accanthis-rm-italic.otf');
}
/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-slshape';
    src: url('rm/accanthis/accanthis-rm-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-scshape';
    src: url('rm/accanthis/accanthis-rm.otf');
}
/* ==== Series and shape ======================================================================= */

/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-bfseries-itshape';
    src: url('rm/accanthis/accanthis-rm-bold-italic.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-bfseries-slshape';
    src: url('rm/accanthis/accanthis-rm-bold-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'accanthis-rm-bfseries-scshape';
    src: url('rm/accanthis/accanthis-rm-bold.otf');
}

/*
 * ------------------------------------------------------------------------------------------------
 *      Libre Baskerville
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base/mdseries ------------------------------------------------------------------ */
@font-face {
    font-family: 'libre-baskerville-rm';
    src: url('rm/libre-baskerville/libre-baskerville-rm.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-bfseries';
    src: url('rm/libre-baskerville/libre-baskerville-rm-bold.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-itshape';
    src: url('rm/libre-baskerville/libre-baskerville-rm-italic.otf');
}
/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-slshape';
    src: url('rm/libre-baskerville/libre-baskerville-rm-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-scshape';
    src: url('rm/libre-baskerville/libre-baskerville-rm.otf');
}
/* ==== Series and shape ======================================================================= */

/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-bfseries-itshape';
    src: url('rm/libre-baskerville/libre-baskerville-rm-bold-italic.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-bfseries-slshape';
    src: url('rm/libre-baskerville/libre-baskerville-rm-bold-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-baskerville-rm-bfseries-scshape';
    src: url('rm/libre-baskerville/libre-baskerville-rm-bold.otf');
}

/*
 * ------------------------------------------------------------------------------------------------
 *      Libre Caslon
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base/mdseries ------------------------------------------------------------------ */
@font-face {
    font-family: 'libre-caslon-rm';
    src: url('rm/libre-caslon/libre-caslon-rm.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-bfseries';
    src: url('rm/libre-caslon/libre-caslon-rm-bold.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-itshape';
    src: url('rm/libre-caslon/libre-caslon-rm-italic.otf');
}
/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-slshape';
    src: url('rm/libre-caslon/libre-caslon-rm-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-scshape';
    src: url('rm/libre-caslon/libre-caslon-rm.otf');
}
/* ==== Series and shape ======================================================================= */

/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-bfseries-itshape';
    src: url('rm/libre-caslon/libre-caslon-rm-bold-italic.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-bfseries-slshape';
    src: url('rm/libre-caslon/libre-caslon-rm-bold-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'libre-caslon-rm-bfseries-scshape';
    src: url('rm/libre-caslon/libre-caslon-rm-bold.otf');
}

/*
 * ------------------------------------------------------------------------------------------------
 *      New Px
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base/mdseries ------------------------------------------------------------------ */
@font-face {
    font-family: 'new-px-rm';
    src: url('rm/new-px/new-px-rm.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-bfseries';
    src: url('rm/new-px/new-px-rm-bold.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-itshape';
    src: url('rm/new-px/new-px-rm-italic.otf');
}
/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-slshape';
    src: url('rm/new-px/new-px-rm-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-scshape';
    src: url('rm/new-px/new-px-rm.otf');
}
/* ==== Series and shape ======================================================================= */

/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-bfseries-itshape';
    src: url('rm/new-px/new-px-rm-bold-italic.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-bfseries-slshape';
    src: url('rm/new-px/new-px-rm-bold-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'new-px-rm-bfseries-scshape';
    src: url('rm/new-px/new-px-rm-bold.otf');
}
