/*
 * ================================================================================================
 *     SF FONTS (Sans serif)
 * ================================================================================================
*/

/*
 * ------------------------------------------------------------------------------------------------
 *      Computer Modern (Default presentation font)
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base --------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf';
    src: url('sf/computer-modern/computer-modern-sf.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-bfseries';
    src: url('sf/computer-modern/computer-modern-sf-bold.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-itshape';
    src: url('sf/computer-modern/computer-modern-sf.otf');
}

/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-slshape';
    src: url('sf/computer-modern/computer-modern-sf-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-scshape';
    src: url('sf/computer-modern/computer-modern-sf.otf');
}


/* ==== Series and shape ======================================================================= */


/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-bfseries-itshape';
    src: url('sf/computer-modern/computer-modern-sf-bold.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-bfseries-slshape';
    src: url('sf/computer-modern/computer-modern-sf-bold-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-sf-bfseries-scshape';
    src: url('sf/computer-modern/computer-modern-sf-bold.otf');
}
