/*
 * ================================================================================================
 *     TT FONTS (Monospace/Typewriter)
 * ================================================================================================
*/

/*
 * ------------------------------------------------------------------------------------------------
 *      Computer Modern (Default monospace/typewriter font)
 * ------------------------------------------------------------------------------------------------
*/

/* ==== Series ================================================================================= */

/* ---- regular/base/mdseries ------------------------------------------------------------------ */
@font-face {
    font-family: 'computer-modern-tt';
    src: url('tt/computer-modern/computer-modern-tt.otf');
}

/* ---- bfseries ------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-bfseries';
    src: url('tt/computer-modern/computer-modern-tt.otf');
}

/* ==== Shape ================================================================================== */

/* ---- itshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-itshape';
    src: url('tt/computer-modern/computer-modern-tt-italic.otf');
}
/* ---- slshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-slshape';
    src: url('tt/computer-modern/computer-modern-tt-slanted.otf');
}

/* ---- scshape -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-scshape';
    src: url('tt/computer-modern/computer-modern-tt-smallcaps.otf');
}
/* ==== Series and shape ======================================================================= */

/* ---- bfseries itshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-bfseries-itshape';
    src: url('tt/computer-modern/computer-modern-tt-italic.otf');
}

/* ---- bfseries slshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-bfseries-slshape';
    src: url('tt/computer-modern/computer-modern-tt-slanted.otf');
}

/* ---- bfseries scshape ----------------------------------------------------------------------- */
@font-face {
    font-family: 'computer-modern-tt-bfseries-scshape';
    src: url('tt/computer-modern/computer-modern-tt-smallcaps.otf');
}
