
/* =================================================================================================
 * === CSS GRADIENT EXAMPLE ========================================================================
 * ============================================================================================== */
/*background: #d3d3d3;  For browsers that do not support gradients*/
/*background: -webkit-linear-gradient(1800deg, #efefef, #ffffff);  For Safari 5.1 to 6.0*/
/*background: -o-linear-gradient(180deg, #efefef, #ffffff);  For Opera 11.1 to 12.0*/
/*background: -moz-linear-gradient(180deg, #efefef, #ffffff);  For Firefox 3.6 to 15*/
/*background: linear-gradient(180deg, #efefef, #ffffff);  Standard syntax (must be last) */

:root {
	--content-start: 102px;

	--modal-color: rgba(0,0,0,0.8);

	--highlight-color: rgba(51,122,183,1);
	--highlight-inv-color: rgba(255,255,255,1);

	--bsd-color: rgba(230,230,230,1);
	--menu-color: rgba(157,157,157,1);
	--box-color: rgba(235,235,235,1);
	--slides-color:	rgba(174,198,207,1);
	--border-color: rgba(150,150,150,1);
	--shade-color:rgba(0,0,0,0.5);
	--fade-color: rgba(255,255,255,0.5);

	--toolbox-heading-color: rgba(100,100,100,1);

	--construction-color:	rgba(255,165,0,0.5);

	--default-color-line-color: var(--highlight-color);
	--webkit-color-line-color: -webkit-linear-gradient(90deg, rgba(255,34,34,1), rgba(255,34,255,1), rgba(34,34,255,1), rgba(34,255,255,1), rgba(34,255,34,1), rgba(34,255,34,1), rgba(255,255,34,1), rgba(255,34,34,1));
	--o-color-line-color: -o-linear-gradient(90deg, rgba(255,34,34,1), rgba(255,34,255,1), rgba(34,34,255,1), rgba(34,255,255,1), rgba(34,255,34,1), rgba(34,255,34,1), rgba(255,255,34,1), rgba(255,34,34,1));
	--moz--color-line-color: -moz-linear-gradient(90deg, rgba(255,34,34,1), rgba(255,34,255,1), rgba(34,34,255,1), rgba(34,255,255,1), rgba(34,255,34,1), rgba(34,255,34,1), rgba(255,255,34,1), rgba(255,34,34,1));
	--color-line-color: linear-gradient(90deg, rgba(255,34,34,1), rgba(255,34,255,1), rgba(34,34,255,1), rgba(34,255,255,1), rgba(34,255,34,1), rgba(34,255,34,1), rgba(255,255,34,1), rgba(255,34,34,1));

	--default-toolbar-color: var(--box-color);
	--webkit-toolbar-color: -webkit-linear-gradient(0deg, rgba(207,207,207,1), rgba(175,175,175,1));
	--o-toolbar-color: -o-linear-gradient(0deg, rgba(207,207,207,1), rgba(175,175,175,1));
	--moz--toolbar-color: -moz-linear-gradient(0deg, rgba(207,207,207,1), rgba(175,175,175,1));
	--toolbar-color: linear-gradient(0deg, rgba(207,207,207,1), rgba(175,175,175,1));
}




html {
	font-size: 14px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {

	font-size: 100%;
	position: relative;
	padding-top: var(--content-start);
	/*background: red;
	background: -webkit-linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
	background: -o-linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
	background: -moz-linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
	background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);*/
}

h1, h2 {
	text-align:	center;
}

.blurring.dimmable>.dimmer {
	background-color: var(--modal-color);
}

#set_project {
	z-index: 5;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


#set_project>.title {
	display: block;
	height: 50px;
	width: 100%;
	vertical-align: text-top;
	text-align: left;
}

#set_project>.title>.title-text {
	display: inline-block;
	float: left;

	font-size: 26px;
	line-height: 26px;
	height:26px;

	margin: 12px 15px 12px 0;
	cursor: default;
}

#set_project>.title>.title-text>.glyphicon {
	font-size: 14px;
	height: 14px;
	margin: 6px 0;
}

#set_project>.title>.title-text>.glyphicon.right {
	float:right;
	margin-left: 15px;
}

#set_project>.title>.title-text>.glyphicon.left {
	float:left;
	margin-right: 15px;
}


#set_project .title>.title-text.clickable:hover,  #set_project .title>.title-text.clickable:focus, #set_project .title>.title-text.clickable::selection {
	color: var(--highlight-color);
	cursor: pointer;
}

#set_project>.field {
	display: block;
	height: 60px;
	width: 100%;
	vertical-align: text-top;
	text-align: left;

	padding: 0 50px;
}

#set_project>.field>.field-label {
	display: inline-block;
	float: left;

	font-size: 20px;
	line-height: 20px;
	height:20px;

	margin: 7px 15px 7px 0;
	cursor: default;
}

#set_project>.field>.field-label>.glyphicon {
	font-size: 14px;
	height: 14px;
	margin: 3px 0;
}

#set_project>.field>.field-label>.glyphicon.right {
	float:right;
	margin-left: 15px;
}

#set_project>.field>.field-label>.glyphicon.left {
	float:left;
	margin-right: 15px;
}

#set_project>.field>input{
	background: transparent;
	width: 100%;
	border-width: 0px;
	margin-left: 30px;


}
#set_project>.field>input:focus {
	outline-offset: 0px;
	outline-width: 1px;
}


#set_project>.actions>.approve, #set_project>.actions>.approve, #set_project>.actions>.approve ,#set_project>.actions>.approve::selection {
	color: var(--menu-color);
	background-color: transparent;
	border-color: var(--menu-color);
	box-shadow: 0 0 0 1px var(--menu-color) inset!important;
}


#set_project>.actions>.approve:hover, #set_project>.actions>.approve:focus, #set_project>.actions>.approve:active ,#set_project>.actions>.approve::selection {
	color: var(--highlight-color);
	background-color: transparent;
	border-color: var(--highlight-color);
	box-shadow: 0 0 0 1px var(--highlight-color) inset!important;
}

/*.ui.inverted.button:hover {
	box-shadow: 0 0 0 2px var(--highlight-color) inset!important;
}*/

#set_project .fine-print{
	text-align: center;
	font-size: 16px;
	height: 20px;
}

#set_project>hr {
	border-color: var(--highlight-color);
	margin: 5px 0;
}

#loader {
	z-index: 5;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	height: 100%;
}


#menu {
	margin:0;
	height: 50px;
	z-index: 4;
	padding: 0 15px;
	color: var(--menu-color);
}

#menu .navbar-brand:hover {
	color: var(--bsd-color);
	cursor: default;
}

#menu .navbar-brand {
	line-height: 20px;
	font-size: 18px;
	height: 20px;


	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:15px auto 0 auto;
	padding: 0 300px 0 200px;

	color: var(--bsd-color);

	/*background-image: var(--default-color-line-color);
	background-image: var(--webkit-color-line-color);
	background-image: var(--o-color-line-color);
	background-image: var(-moz-color-line-color);
	background-image: var(--color-line-color);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;*/
}



#menu_navbar>.navbar-nav>li>.project_menu {
	display: inline-block;
	margin-top: 17px;
	font-size: 16px;
	line-height: 1em;
	height: 33px;
	vertical-align: text-top;
	text-align: left;
}


#project_label {
	padding-right:15px;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	color: var(--bsd-color);
	cursor: default;
}
#project_id {
	/*max-width: 400px;;*/
	/*width: 300px;*/
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	overflow-y: hidden;
	padding-left: 0;

}

#load_existing_id {
	/*max-width: 400px;;*/
	background-color: transparent;
	border-width: 0px;

	min-width: 220px;
	max-width: 220px;


	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	overflow-y: hidden;
	padding-left: 0;

	display: inline-block;
	margin-top: 10px;
	font-size: 16px;
	line-height: 1em;
	height: 33px;
	vertical-align: text-top;
	text-align: center;

	/*margin-top: 10px;*/
}


#menu_navbar>.navbar-nav>li>a {
	margin-top: 15px;
	font-size: 9px;
	line-height: 10px;
	text-align: center;
	padding: 0;
	margin-right: 5px;
	margin-left: 5px;

}
#menu_navbar>.navbar-nav>li>a:hover,  #menu_navbar>.navbar-nav>li>a:focus, #menu_navbar>.navbar-nav>li>a::selection{
	color: var(--menu-color);
}
#menu_navbar>.navbar-nav>li>a>.glyphicon {
	font-size: 20px;
	padding: 0;
}

#menu_navbar>.navbar-nav>li>a>.glyphicon:hover,  #menu_navbar>.navbar-nav>li>a>.glyphicon:focus, #menu_navbar>.navbar-nav>li>a>.glyphicon::selection{
	color: var(--highlight-color);
}

#menu_navbar>.navbar-nav>li>.menu_button {
	/*position: relative;*/
	display: block;
	margin-top: 15px;
	font-size: 9px;
	line-height: 10px;
	text-align: center;

	padding: 0;
	margin-right: 15px;
	margin-left: 15px;
}

#menu_navbar>.navbar-nav>li>.menu_button:hover,  #menu_navbar>.navbar-nav>li>.menu_button:focus, #menu_navbar>.navbar-nav>li>.menu_button::selection{
	color: var(--menu-color);
}
#menu_navbar>.navbar-nav>li>.menu_button>.glyphicon {
	font-size: 20px;
	padding: 0;
}

#menu_navbar>.navbar-nav>li>.menu_button>.glyphicon:hover,  #menu_navbar>.navbar-nav>li>.menu_button>.glyphicon:focus, #menu_navbar>.navbar-nav>li>.menu_button>.glyphicon::selection{
	color: var(--highlight-color);
}

/*#load_existing_project {
	max-width: 400px;;
	width: 300px;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	overflow-y: hidden;
	padding-left: 0;

}*/

#color_line {
	z-index:2;

	position: fixed;
	top: 50px;

	height:2px;
	width: 100%;

	background: var(--default-color-line-color);
	background: var(--webkit-color-line-color);
	background: var(--o-color-line-color);
	background: var(--moz-color-line-color);
	background: var(--color-line-color);
}

#toolbar {
	top:52px;
	height: 50px;
	padding: 0 15px;
	margin: 0;
	z-index: 3;

	background: var(--default-toolbar-color);
	background: var(--webkit-toolbar-color);
	background: var(--o-toolbar-color);
	background: var(--moz-toolbar-color);
	background: var(--toolbar-color);

	border-style: solid;
	border-width: 0 0 1px 0;
	border-bottom-color: var(--border-color);
}

#toolbar_navbar>.navbar-nav>li>a {
	color: var(--shade-color);
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	padding: 0;
	margin-right: 10px;
	margin-left: 10px;

}

#toolbar_navbar >.navbar-nav>li>a>.glyphicon {
	font-size: 20px;
	padding: 0;
}

.ui.icon.button, .ui.icon.buttons .button {
	font-size: 23px;
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
    padding: 0;
	background-color: transparent;
}
.ui.icon.button .glyphicon:hover, .ui.icon.buttons .button .glyphicon:hover {
	color: var(--highlight-color);

}

.color-drop {
	float:right;
}

.selected-option {
	float:right;
}

#sffamily_selection, #math_sffamily_selection {
	font-family: 'computer-modern-sf';
}
#rmfamily_selection, #math_rmfamily_selection {
	font-family: 'computer-modern-rm';
}
#ttfamily_selection, #math_ttamily_selection {
	font-family: 'computer-modern-tt';
}


#toolbar_navbar>.navbar-nav>li>a>.glyphicon:hover,  #toolbar_navbar>.navbar-nav>li>a>.glyphicon:focus, #toolbar_navbar>.navbar-nav>li>a>.glyphicon::selection{
	color: var(--highlight-color);
}


/*#toolbar_navbar .toolbar-presentation-tools {
	display: block;
	margin-left:auto;
	margin-right:auto;

		line-height: 20px;
		font-size: 18px;
		height: 20px;

		position: absolute;
	    width: 100%;
	    left: 0;
	    text-align: center;
	    margin:15px auto 0 auto;
		padding: 0 300px 0 200px;

		color: var(--bsd-color);
}*/

#toolbar .navbar-nav {
    width: 100%;
    text-align: center;
	padding-left: 200px;
	padding-right: 470px;

  }
 #toolbar .navbar-nav > li {
    float: none;
    display: inline-block;
  }
 #toolbar .navbar-nav > li.navbar-right {
    float: right !important;
  }

.toolbar-button {
	margin: 0px 20px;
	text-align: center;

}

#zoom {
	display: block;
	width: 170px;
	height: 50px;
}



.box {
	position: fixed;

	top: var(--content-start);

	height: 100%;

	margin: 0;


	padding: 0;
	padding-bottom: var(--content-start);
	background: var(--box-color);
	border-style: solid;
	border-width: 0;
}

#one {
	left: 0px;
	width: 200px;
	border-right: 1px solid var(--border-color);
	/*background: -webkit-linear-gradient(90deg, #efefef, #ffffff);
	background: -o-linear-gradient(90deg, #efefef, #ffffff);
	background: -moz-linear-gradient(90deg, #efefef, #ffffff);
	background: linear-gradient(90deg, #efefef, #ffffff);*/
	overflow-y:scroll;
}

#two {
	right: 0px;
	width: 300px;
	border-left: 1px solid var(--border-color);
	/*background: -webkit-linear-gradient(-90deg, #efefef, #ffffff);
	background: -o-linear-gradient(-90deg, #efefef, #ffffff);
	background: -moz-linear-gradient(-90deg, #efefef, #ffffff);
	background: linear-gradient(-90deg, #efefef, #ffffff);*/

}

#thumbnails>.nav-pills.nav-stacked>li {
	margin:0;
}


#thumbnails>.nav-pills.nav-stacked>li>a.thumbnail {
	padding: 10px 15px 0 15px;

	text-align: center;

	color: var(--highlight-color);
	background: transparent;

	border-color: var(--fade-color);
	border-style: solid;
	border-width: 0 0 2px 0;
	border-radius: 0;
	margin:0;
}


#thumbnails>.nav-pills.nav-stacked>li>a, #thumbnails>.nav-pills.nav-stacked>li>a:focus, #thumbnails>.nav-pills.nav-stacked>li>a:hover {
	color: var(--highlight-inv-color);
	background: var(--highlight-color);
	border-color: var(--highlight-color);
}


#thumbnails>.nav-pills.nav-stacked>li.active>a, #thumbnails>.nav-pills.nav-stacked>li.active>a:focus, #thumbnails>.nav-pills.nav-stacked>li.active>a:hover {
	color: var(--highlight-color);
	background: transparent;
	border-color: var(--highlight-color);
}

#thumbnails>.nav-pills.nav-stacked>li>a>canvas, #thumbnails>.nav-pills.nav-stacked>li>a>canvas:focus, #thumbnails>.nav-pills.nav-stacked>li>a>canvas:hover {
	background: var(--highlight-inv-color);
	margin-bottom: 5px;
}

#thumbnails>.nav-pills.nav-stacked>li>a>img, #thumbnails>.nav-pills.nav-stacked>li>a>img:focus, #thumbnails>.nav-pills.nav-stacked>li>a>img:hover {
	background: var(--highlight-inv-color);
	margin-bottom: 5px;
}

#thumbnails>.nav-pills.nav-stacked>li.active>a>img {
	border: 1px solid var(--highlight-color);
}


.page {
	padding-right: 300px;
	padding-left:200px;
}

#slides {
	background-color: var(--slides-color);
}



#slides .canvas-container {
	/*margin-left: auto;
	margin-right: auto;
	margin-top:0.6em;
	margin-bottom: 0.6em;*/

	margin: 0 auto 10px auto;
}

canvas, #thumbnails img {
	-webkit-box-shadow: 5px 5px 20px -4px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 20px -4px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 20px -4px rgba(0,0,0,0.3);
}

#slide_space {
	height: 3000px;
}

.tool-icon {
	color: var(--highlight-color);
	font-size:75%;
	width:1em;
}

.tool-label {
	padding-left: 5px;
}

.jscolorpicker {
	/*float:right;*/
	width:100%;
	height:1.4285em;
}

.spacer {
	margin-top: 0.8em;
}

#toolbox_col .nav-tabs>li a{
	color: var(--highlight-color);
	background: rgba(0,0,0,0.1);
	border-radius: 0;
	border-color: transparent;

}

#toolbox_col .nav-tabs>li a:hover, #toolbox_col .nav-tabs>li a:focus, #toolbox_col .nav-tabs>li a:hover {
	color: var(--highlight-inv-color);
	background: var(--highlight-color);
}

#toolbox_col .nav-tabs>li.active>a, #toolbox_col .nav-tabs>li.active>a:focus, #toolbox_col .nav-tabs>li.active>a:hover {
	color: var(--highlight-color);
	background: transparent;
}



#toolbox_col a {
	padding: 10px 15px;
}

#toolbox {
	padding: 0 0.6em;
}

#toolbox .ui.dropdown, #toolbox .search {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	height:1.6em;
	min-height:1.6em;
	min-width:100%;
	/*background: rgba(255, 255, 255, 0);*/
}

#toolbox .dropdown.icon {
	padding-top: 0.3em;
	padding-bottom: 0;
}

#toolbox .item {
	padding-top: 0.3em!important;
	padding-bottom: 0.3em!important;
	line-height: 1em;
	min-height:1.6em;
	height:1.6em;
}

#toolbox .divider {
	margin-top: 1px;
	margin-bottom:1px;
	color: var(--toolbox-heading-color);
}

#toolbox hr {
	margin-top: 0.8em;
	margin-bottom:0.8em;
	border-top-color: var(--highlight-color);
	opacity: 0.3;
}

#toolbox .menu>hr {
	margin-top: 0.1em;
	margin-bottom:0.1em;
	/*color: var(--toolbox-heading-color);*/
}

#toolbox .toolbox-heading {
	font-size: 16px;
	font-weight: 500;
	color: var(--toolbox-heading-color);

}
